GADAR_CONTACT_EMAIL=hello@gadar.io
GADAR_CONTACT_PHONE="+1 (234) 567-890"
GADAR_CONTACT_PHONE_HREF=+12345678900
GADAR_CONTACT_LOCATION="Global Remote Team"
WORDPRESS_API_URL=https://example.com
STATIC_FORMS_ACCESS_KEY=replace-with-staticforms-access-key
STATIC_FORMS_ENDPOINT=https://api.staticforms.xyz/submit
