GADAR_CONTACT_EMAIL=hello@gadarsolutions.com
GADAR_CONTACT_PHONE="+234 816 514 1872"
GADAR_CONTACT_PHONE_HREF=+2348165141872
GADAR_CONTACT_LOCATION="Global Remote Team"
WORDPRESS_API_URL=https://example.com
STATIC_FORMS_ACCESS_KEY=replace-with-staticforms-access-key
STATIC_FORMS_ENDPOINT=https://api.staticforms.xyz/submit
